<h1>The Multiplier!!!!</h1>

<%  @num1 = params[:num1].to_i
    @num2 = params[:num2].to_i
    @product = @num1*@num2 %>

<h2>If you take <%=@num1%> and multiply it by <%=@num2%> youll get </h2>
<h1><%=@product%>!!!!</h1>
