<!DOCTYPE html>
<html>
    <head>
      <title> Moltiplication between two numbers </title>
    </head>
    <body>
      <h1>
        Multiplying <%= @num1 %> and <%= @num2 %> gives a final product of
        <%= @num1.to_i * @num2.to_i %>
      </h1>
    </body>
</html>
