<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= (params[:num1].to_i * params[:num2].to_i).to_s %></h1>
  </body>
</html>
