<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Multiplexity</title>
  </head>
  <body>
    The result of multiplying <%= @num1 %> and <%= @num2 %> is: <%= @num1.to_i * @num2.to_i %>
  </body>
</html>
